<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key %>')">
  <div class="container banner-text">
    <h1><%= @list.name %></h1>
  </div>
</div>

<p class="text-center my-5">
  <a class="btn btn-flat" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Add movie
  </a>
</p>
<div class="collapse" id="collapseExample">
  <div class="container">
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-sm-8 col-md-6 bg-white p-3">
          <h1 class= "mb-3 text-center">Add to <%= @list.name %></h1>
          <%= simple_form_for [@list, @bookmark] do |f| %>
            <%= f.input :comment %>
            <%= f.association :movie %>
            <%= f.button :submit, "Add to list", class: "btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container my-5">
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-sm-12 col-md-6 mb-3">
        <div class="card card-movie" data-aos="fade-up">
          <img src="<%= bookmark.movie.poster_url %>" class="card-img-top" alt="<%= bookmark.movie.title %> movie poster">
          <div class="card-body">
            <div class="card-title d-flex justify-content-between">
              <h5><%= bookmark.movie.title %></h5>
              <span><%= bookmark.movie.rating %> <i class="fas fa-star"></i></span>
            </div>
            <p class="card-overview"><%= bookmark.movie.overview %></p>
            <div class="card-comment d-flex justify-content-between pt-3">
              <p class="m-0"><i class="fas fa-quote-left"></i> <em><%= bookmark.comment %></em></p>
              <%= link_to bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-danger" do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="my-5 text-center">
    <%= link_to "Back to lists", root_path, { class: "btn btn-primary"} %>
  </div>
</div>
